/*colors*/
$system-background-color: #f0f3f8;
$border-color:#f0f3f6;
$text-background-color: #494be3;
$secondary-lead: #788eff;
$secondary-background-color:#45677e;
$light-background-color:#f3f6fd;
$header-color: #000000;
$title-color: #7a7a7a;
$big-title-color: #151e40;
$primary-color: #212121;
$secondary-color: #b4b8bc;
$component-general-color: #ffffff;
$active-color: #494be3;
$success-color: #02a339;
$error-color: #d0021b;
$subtext-color:#d5d5d5;
$table-row-color: #e7f6fd;
$normal-color:  #000000;
$dashboard-yield: #690683;
$dashboard-quality: #17c659;
$dashboard-throughput: #cf184b; 
$hover-color:#ebf2ff;
$shadow-border-color: rgba(0, 0, 0, 0.1);
$selected-text-color:#b2d7fe;
$filter-color:#29386f;
$reset-zoom: #f7f7f7;
$reset-zoom-hover: #e6e6e6;
$grid-labels: #697485;
$grid-path: #ccd6eb;

/*font-family*/
$roboto-font: 'Roboto', sans-serif;

/*font-size*/
$checkbox-icon: .6rem;
$legend-arrow: .8rem;
$extra-small-text: 1.1rem;
$small-text: 1.2rem;
$normal-text: 1.3rem;
$medium-text: 1.4rem;
$big-text: 1.6rem;
$extra-big-text: 1.7rem;
$catalog-title: 1.6rem;
$header-title: 2.2rem;
$indicator-big-text: 3rem;
$dashboard-title: 3.6rem;

/*dashboard*/
$dashboard-gap: 1rem;


/*Catalog*/
$panel-width:37.7rem;
$number-catalog-in-row:4;
$number-catalog-in-row-small-screen:3;
$catalog-gap: 2rem;


/*widgets*/
$legend-width: 11.3rem;
$capsulated-bar-height: 2.1rem;
/*dx*/
$dx-submenu-item-padding: 1.6rem 1.9rem 1.7rem 1.9rem;

